header {
  max-width: 750px;
  padding: 15px 15px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo-container {
  max-width: 294px;
  height: 44px
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-links {
  width: 16px;
  height: 18px;
}