header {
  width: 100%;
  height: max-content;
  background-color: #1D0014;
  margin-bottom: 30px;
}

nav {
  width: 100%;
  padding: 15px 15px 0;
  min-height: 59px;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: -2;
}

.logo-container {
  width: 100%;
  padding: 0 15px;
  min-height: 44px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background-color: #1D0014;
}

.logo-container img {
  width: 294px;
  height: 100%;
  object-fit: cover;
}

.img-links {
  width: 16px;
  height: 18px;
}

.small-screen {
  display: block;
  width: max-content;
  height: max-content;
  cursor: pointer;
  padding: 7px 10px 9px;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.colored {
  background-color: #333;
  border: 1px solid transparent;
}

.small-screen-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
    margin-top: 4px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 7.5px;
  height: 138px;
  transform: translateY(-5px);
  animation: slideDown 300ms ease-in-out;
  animation-fill-mode: forwards;
}

.nav-list li {
  margin-inline-start: 35px;
}

.nav-list li a, .nav-list li a:hover, .nav-list li a:focus {
  padding: 5px 12px;
  color: white;
}

.nav-list li a:hover, .nav-list li a:focus {
  background-color: #c52d2f;
  border-radius: 3px;
}

.social-media-li {
  width: 150.6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li input {
  width: 120px;
  height: 36px;
  padding: 5px 2px;
  border-radius: 4px;
}

.dropdown-menu-hidden, .big-screen {
  display: none;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(15px);
  }
}

@media screen and (min-width: 800px) {
  .logo-container {
    width: 294px;
    padding: 0;
  }
  .small-screen, .colored {
    display: none;
  }

  nav {
  max-width: 1170px;
  padding: 15px 15px 28px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

  .big-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: max-content;
  margin: 0;
}
.big-screen li {
  margin-inline-start: 0;
}
}

@media screen and (min-width: 990px) {
.big-screen {
  width: 420px;
}
.big-screen li {
  margin-inline-start: 10px;
}
}

@media screen and (min-width: 1200px) {
  .big-screen {
  width: 550px;
}
.big-screen li {
  margin-inline-start: 35px;
}
}