.cocktail-grid-card-95 img {
  width: 95%;
  height: auto;
  object-fit: cover;
}

.cocktail-grid-card-100 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  font: 400 normal 14px'Open Sans', sans-serif;
  color: #a78d9b;
  text-align: center;
  text-decoration: none;
  transition: color 300ms;
}

a:hover, a:focus {
  outline: none;
  color: #ffa700;
}